<?xml version="1.0" ?>
<robot name="b_cups">
  <link name="b_cups__link">
    <inertial>
      <mass value="2.438635258780366e-05"/>
      <origin xyz="-0.02674 -0.05365  0.02994" rpy="0.27326  0.01277 -0.26039"/>
      <inertia ixx="1.5617921854636818e-08" ixy="1.4716845892027015e-24" ixz="1.1706717034979612e-24" iyy="1.5287407239601858e-08" iyz="-1.739950634720008e-24" izz="1.350573703318437e-08"/>
    </inertial>
    <collision name="b_cups__collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/zai/ros_ws/utils_ws/src/ycb-tools/models/ycb/065-b_cups/google_16k/textured.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="b_cups__visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/zai/ros_ws/utils_ws/src/ycb-tools/models/ycb/065-b_cups/google_16k/textured.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
