<?xml version="1.0" ?>
<robot name="lemon">
  <link name="lemon__link">
    <inertial>
      <mass value="9.683451845782233e-05"/>
      <origin xyz="-0.01077  0.02101  0.0262" rpy="-1.5559   0.5892   2.28077"/>
      <inertia ixx="3.410857984541029e-08" ixy="-3.064660272052099e-24" ixz="-1.021529064061431e-23" iyy="3.3937180810016105e-08" iyz="5.257974239224999e-24" izz="2.785774449123032e-08"/>
    </inertial>
    <collision name="lemon__collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/zai/ros_ws/utils_ws/src/ycb-tools/models/ycb/014_lemon/google_16k/textured.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="lemon__visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/zai/ros_ws/utils_ws/src/ycb-tools/models/ycb/014_lemon/google_16k/textured.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
