<?xml version="1.0" ?>
<robot name="apple">
  <link name="apple__link">
    <inertial>
      <mass value="0.0002465953911687125"/>
      <origin xyz="0.00131 -0.00386  0.03633" rpy="1.28658 -0.49579 -1.57795"/>
      <inertia ixx="1.53466177091476e-07" ixy="8.072055443407084e-24" ixz="1.6907875823124043e-24" iyy="1.5237248423959713e-07" iyz="2.9165579600501972e-24" izz="1.5058285191115324e-07"/>
    </inertial>
    <collision name="apple__collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/zai/ros_ws/utils_ws/src/ycb-tools/models/ycb/013_apple/google_16k/textured.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="apple__visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/zai/ros_ws/utils_ws/src/ycb-tools/models/ycb/013_apple/google_16k/textured.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
